doctype html
html
    head
        title Hello World!
        link(rel='stylesheet' type="text/css" href='/css/style.css')
    body
        h1 Hello World!
        img(src='/images/World.png')
        script(src="script/script.js")
